extends layout

block content
    //Dummy posts array (JS block)
    -
        //Marked unused because JS and later used in pug
        const posts = [
            {
                avatar: "/img/users/santa.png",
                name: "santa",
                handle: "santa",
                date: "28.11.2022",
                time: "12:49",
                text: "Looking forward to Christmas! #hohoho"
            },
            {
                avatar: "/img/users/aaronhollack.png",
                name: "aaron",
                handle: "aaron",
                date: "27.11.2022",
                time: "12:27",
                text: "Hallo Welt :) #mi and happy #christmas to all!"
            },
            {
                avatar: "/img/users/panickyDingo2.png",
                name: "panickyDingo2",
                handle: "panickyDingo2",
                date: "27.11.2022",
                time: "18:05",
                text: "Hallo #mi, happy #christmas!"
            },
            {
                avatar: "/img/users/thrilledWeaver3.png",
                name: "thrilledWeaver3",
                handle: "thrilledWeaver3",
                date: "27.11.2022",
                time: "12:23",
                text: "Hello #world!"
            },
            {
                avatar: "/img/users/bruceferguson.png",
                name: "bruceferguson",
                handle: "bruceferguson",
                date: "27.11.2022",
                time: "11:23",
                text: "Hallo Welt #oth #mi #other"
            },
        ];

    //Margin top with 1.5 spacer
    .post-wrapper
        h5.post-list-heading Startseite

        //Iterating over the dummy post array
        each post in posts
            //Card using margin bottom with default spacer * 1
            .post-card
                //Content of the card
                .post-content
                    img.post-avatar(
                        src= post.avatar,
                        alt= post.name,
                        width="48",
                        height="48"
                    )
                    //Fill remaining space in container
                    .post-body
                        .post-header
                            .post-user
                                //Thick name
                                strong.post-name= post.name
                                //Light grey @ text
                                span.post-handle=  `@#{post.handle}`
                            //Display date and time together
                            small.post-timestamp= `${post.date} um ${post.time}`
                        //Actual post content
                        p.post-text= post.text
